
html {
  min-height: 100%;
}

body {
  margin: 0em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}

/* set font and size */
h1 {
    
    font-size: 24px;
}
h2 {
    font-size: 14px;
}
h3,h4,p {
    font-size: 10px;
}





/*******************************************/
/*       page layout.                      */
/*******************************************/
/* page breaks */
hr {
  page-break-after: always;
  page-break-before: always;
  display: none;
}

.block {
    width:8.1in;
    height:10in;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h4 {
    position: absolute;  
    text-align: center;  
    top: 9.9in;  
    left: 0;  
    right: 0;  
    margin: auto; 
}

/* position text: 'added by...' */
.block .added_by {
    position: absolute;  
    text-align: center;  
    top: 10in;  
    left: 0;  
    right: 0;  
    margin: auto; 
    display: block;
    width:100%;
}
.block .added_by p,
.attachment .added_by p,
.attachment .added_by p:nth-child(1),
.text .added_by p{
    font-size: 10px;
    width: 100%;
    margin:auto;
    display: auto;
    text-align:center !important;
    position: relative;
    padding:6px;
}
.block .added_by p em{
    font-size: 10px;
    text-align: center; 
}

/*override page number placement*/
.📖-running-header {
    position: absolute;
    text-align: center;
    top:auto!important;
    bottom: .45in !important;
    margin-left: .25in !important;
    margin-right: .25in !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px  !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: 400 !important;
    line-height: 11.4px !important;
}




/*******************************************/
/*       title page adjustments            */
/*******************************************/


/*div.block.title_page{
    display:inline;
}*/

.title_page h1 {
    margin-top:1in;
    margin-bottom:3in;
}

.title_page h2 {
    position: absolute;  
    text-align: center;  
    bottom: -3in;  
    left: 0;  
    right: 0;  
    margin: auto; 
}
.title_page{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
 
.title_page em{
    position: relative;  
    text-align: center;  
    bottom:auto;
    top:auto;
    left: auto;
    right: auto;
    /*display: none;*/
}



/*******************************************/
/*       text page adjustments          */
/*******************************************/
/*
HTML PATTERN FOR TEXT PAGES

<div class="block text">

    <h4> 
        Title 
    </h4>

    <p>
        ...body text...
    </p>

    <p>
        ...more body text...
    </p>

    <p>
        etc....
    </p>


    <div class="added_by">
        <p>
            <em>Added by xxxx @ 05:06pm on 2018-Jun-12</em>
        </p>
    </div>

    <hr>
</div>
/*


/*make quotes bigger */
.text p{
    font-size: 18px;
    width: 6in;
    display: block;
    text-align:left;
}

/*******************************************/
/*      link to channel page adjustments   */
/*******************************************/
/*
HTML PATTERN FOR LINK PAGES:

<div class="block text">

    <h4>
        <a href="page_link.html">Title</a>
    </h4>

        
    <div class="added_by">
        <p>
            <em>Added by xxxx @ 05:06pm on 2018-Jun-12</em>
        </p>
    </div>

    <hr>
</div>
*/

.text h4 a{
    position: absolute;
    display: inline-block;
    text-align: center;
    top: -5.5in;
    left: 0;
    width: 8in;
    /* margin-left: -50%; */
    font-size: 18px;
    color: black;
    text-decoration: none;
}


/*******************************************/
/*   image/pdf/video page adjustments      */
/*******************************************/
/*
HTML PATTERN FOR IMAGE PAGES:

<div class="block">
    <p>
        <a href=".....jpg">
            <img src=".....jpg">
        </a>
    </p>

    <h4>title</h4>
    
    <div class="added_by">
        <p>
            <em>Added by xxxx @ 05:06pm on 2018-Jun-12</em>
        </p>
    </div>

    <hr>
</div>
*/

.attachment p:nth-child(1){  
    top: auto;
    width:auto;
}

.attachment p{
    position: absolute;  
    font-size: 10px;
    text-align: center;  
    top: 9.2in;  
    width:6in;
    left: 0;  
    right: 0;  
    margin: auto; 
}


img {
    max-height: 9in;  
    max-width: 7.5in;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}


